@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinzel';
  src: url('../public/DeathNote.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-dark text-light font-cinzel;
}
